NODE_ENV=development
PORT=9051

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=palette_ap_db

JWT_SECRET=change-me

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

FRONTEND_URL=http://localhost:9052
